<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_admin.css') }}">
</head>
<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <a href="{{ url_for('logout') }}">Logout</a>
        <h3>Dishes</h3>
        <a href="{{ url_for('create_dish') }}">Add New Dish</a>
        <ul>
            {% for dish in dishes %}
                <li>
                    <div>
                        <strong>{{ dish.name }}</strong> - {{ dish.description }} - ${{ dish.price }} - {{ dish.category }}
                    </div>
                    <div>
                        <a href="{{ url_for('update_dish', id=dish.id) }}">Update</a>
                        <form action="{{ url_for('delete_dish', id=dish.id) }}" method="post" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
